@import url('../global.css');

.dashboard {
    
    font-family: var(--font-base);
    gap: 8px;
}
.pagos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.stats {   
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.recientes-table {
    width: 100%;
    padding: 4px;
    margin: 1px;
    text-align: center;
    
}   
    